[run]
branch = true

[report]
skip_covered = False
show_missing = True
exclude_lines =
	\#\s*pragma: no cover
	^if __name__ == ["]__main__["]:$

[paths]
source =
	app/
	*/lib/*/site-packages/app
	.tox/*/lib/*/site-packages/app
